.kranky-regular {
  font-family: "Kranky", serif;
  font-weight: 40;
  font-style: normal;
}

.kranky-regular {
  font-family: "Kranky", serif;
  font-weight: 40;
  font-style: normal;
}

.akronim-regular {
  font-family: "Akronim", system-ui;
  font-weight: 40;
  font-style: normal;
}

.great-vibes-regular {
  font-family: "Great Vibes", serif;
  font-weight: 40;
  font-style: normal;
}

.cinzel-decorative-regular {
  font-family: "Cinzel Decorative", serif;
  font-weight: 40;
  font-style: normal;
}

.cinzel-decorative-bold {
  font-family: "Cinzel Decorative", serif;
  font-weight: 700;
  font-style: normal;
}

.cinzel-decorative-black {
  font-family: "Cinzel Decorative", serif;
  font-weight: 900;
  font-style: normal;
}

.metamorphous-regular {
  font-family: "Metamorphous", serif;
  font-weight: 40;
  font-style: normal;
}

.uncial-antiqua-regular {
  font-family: "Uncial Antiqua", system-ui;
  font-weight: 40;
  font-style: normal;
}
