.poem-block {
  font-family: "Times New Roman", serif;
  font-size: 20px;
  line-height: 1.35;

  width: fit-content;

  margin: 40px auto 0 40px;
  padding: 0;

  color: rgb(255, 255, 255);
  white-space: pre-line;
}

@media (max-width: 800px) {
  .poem-block {
    font-size: 16px;
  }
}

.caveat {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 50px;
  font-style: normal;
}

.medievalsharp-regular {
  font-family: "Uncial Antiqua", serif;
  font-size: 20px;
  line-height: 1.35;

  width: fit-content;

  margin: 40px auto 0 40px;
  padding: 0;

  color: rgb(255, 255, 255);
  white-space: pre-line;
}