.poem-block {
  font-family: "Times New Roman", serif;
  font-size: 20px;
  line-height: 1.35;

  width: fit-content;

  margin: 40px auto 0 40px;
  padding: 0;

  color: rgb(255, 255, 255);
  white-space: pre-line;
}
